# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
corpus_big/
corpus_mid/
corpus_tiny/
checkpoints/
output/
model_saved/
script/
